
<div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../../assets/img/animation.jpg" alt="animation">
        <div class="card-body">
          <h4 class="card-text">
           <strong> Adding visual elements and animation</strong>  
          </h4>
        
  
          <p class="card-text">
            <strong>Choosing and Inserting Images:  </strong>choose and insert images into your presentation. You can do this by clicking the "Pictures" button on the Insert tab or by dragging and dropping an image file from your computer.
          </p>
          <p class="card-text">
            <strong>Formatting Images: </strong>format images by adjusting their size, shape, and position on the slide. This can be done using the Format tab or by dragging the image around on the slide.
          </p>
          <p class="card-text">
            <strong>Using SmartArt:  </strong> use SmartArt to create diagrams and charts in your presentation. SmartArt is a tool that helps you visually represent data or concepts in a clear and concise manner.
          </p>
          <p class="card-text">
            <strong>Adding Charts: </strong> add charts to your presentation. Charts are a great way to represent data and trends in a visual and easy-to-understand way.
          </p>
          <p class="card-text">
            <strong>Adding Videos: </strong> add videos to your presentation. You can do this by clicking the "Video" button on the Insert tab or by dragging and dropping a video file from your computer.
          </p>

          <p class="card-text">
            <strong>Adding Audio: </strong> add audio to your presentation. You can do this by clicking the "Audio" button on the Insert tab or by dragging and dropping an audio file from your computer.
          </p>          
          <p class="card-text">
            <strong>Using Animations and Transitions: </strong> use animations and transitions to add visual interest and movement to your presentation. You can do this using the Animations and Transitions tabs.
          </p>          
          <p class="card-text">
            It's important to note that when adding visual elements to a presentation, it's crucial to keep in mind the overall design and aesthetic of the presentation. Make sure to choose images, charts, and other elements that complement your presentation's theme and message. Additionally, be mindful of using too many visual elements, which can distract from the main message of your presentation.
          </p>          
  
  
        </div>
      </div>
    </div>
  
  </div>