
<div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../../assets/img/presentation-2-people-at-screen.jpg" alt="">
        <div class="card-body">
          <p class="card-text">"Microsoft PowerPoint is a powerful presentation software that is widely used for business, education, and personal use. Whether you’re creating a slideshow for a business meeting, a school presentation, or just for fun, PowerPoint offers a wide range of tools and features to help you create engaging and professional-looking presentations.
          </p>
          <p class="card-text">
          This manual is designed to help both new and experienced users learn how to effectively use PowerPoint to create compelling presentations. Through step-by-step instructions and visual aids, we will explore the key features and functions of the software, and demonstrate how to use these tools to create professional-looking presentations. Whether you are just starting out or looking to expand your PowerPoint skills, this manual will provide you with the knowledge and tools you need to succeed."
          </p>
          
        </div>
      </div>
    </div>
   
  </div>