<div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <img src="../../../assets/img/creating_a_presentation.jpg" alt="">
        <div class="card-body">
          <h4 class="card-text">
           <strong> Creating a presentation</strong>  
          </h4>
        
  
          <p class="card-text">
            <strong>Starting a New Presentation: </strong>open PowerPoint and start a new presentation. This may involve choosing a blank presentation or starting with a template.
          </p>
          <p class="card-text">
            <strong>Choosing a Theme:</strong> choose a theme for the presentation. A theme is a set of design elements that give your presentation a consistent and professional look.
          </p>
          <p class="card-text">
            <strong>Adding Slides: </strong> add slides to your presentation. You can do this by clicking the "New Slide" button on the Home tab or by right-clicking in the slide thumbnail pane and selecting "New Slide."
          </p>
          <p class="card-text">
            <strong>Editing Slides: </strong> edit slides and make changes to their content. This may involve moving, resizing, and deleting objects on the slide or changing font styles, colors, and sizes.
          </p>
          <p class="card-text">
            <strong>Arranging Slides: </strong> arrange the order of your slides and how to add, delete, or duplicate slides as needed.
          </p>

          <p class="card-text">
            <strong>Saving Your Presentation: </strong> save your presentation and how to choose the appropriate file format for your needs.
          </p>          
          <p class="card-text">
            By providing clear and concise instructions on these topics, you can help users feel comfortable using PowerPoint to create professional-looking presentations. Don't forget to include helpful tips and best practices along the way, such as how to use images and multimedia effectively or how to structure your presentation for maximum impact.
          </p>          
  
  
        </div>
      </div>
    </div>
  
  </div>