<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 100%;">
    <img src="assets/img/microsoft-powerpoint-logo.png" alt="">
    <span class="fs-4">PowerPoint Manual</span>
  
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="introduction" routerLinkActive="active" class="nav-link" aria-current="page">
         Introduction
      </a>
    </li>
    <li>
      <a routerLink="interface" class="nav-link" routerLinkActive="active">
        User Interface
      </a>
    </li>
    <li>
      <a routerLink="presentation" class="nav-link" routerLinkActive="active">
        Creating a Presentation
      </a>
    </li>
    <li>
      <a routerLink="animation" class="nav-link" routerLinkActive="active">
      Adding Visual Elements and Animations
      </a>
    </li>
    <li>
      <a routerLink="multimedia" class="nav-link" routerLinkActive="active">
      Adding Multimedia Elements
      </a>
    </li>
    <li>
      <a routerLink="text-formating" class="nav-link" routerLinkActive="active">
      Text Formatting
      </a>
    </li>
    <li>
      <a routerLink="drawing" class="nav-link" routerLinkActive="active">
      Drawing Tools
      </a>
    </li>
    <li>
      <a routerLink="linking" class="nav-link" routerLinkActive="active">
      Inserting and Linking Information
      </a>
    </li>
    <li>
      <a routerLink="sharing" class="nav-link" routerLinkActive="active">
       Sharing and Exporting
      </a>
    </li>
    <li>
      <a routerLink="troubleshooting" class="nav-link" routerLinkActive="active">
       Troubleshooting
      </a>
    </li>
  </ul>
  <hr>
 
</div>
